@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* custom classes */

/** react-select用、focus時のoutlineを無くす */
input[id^='react-select-'] {
  @apply focus:outline-none focus:border-transparent focus:ring-0;
}

@keyframes toast-show {
  from {
    transform: translate(100%, 0);
    opacity: 0;
  }

  to {
    transform: translate(0%, 0);
    opacity: 1;
  }
}

@keyframes toast-hide {
  from {
    transform: translate(0%, 0);
    opacity: 1;
  }

  to {
    transform: translate(100%, 0);
    opacity: 0;
  }
}

@layer components {
  .toast {
    @apply p-2 text-sm font-bold rounded-md shadow-md bg-primary flex items-center z-[10000] gap-2;

    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: fixed;
    bottom: 32px;
    right: 16px;

    min-width: 248px;
    padding: 8px 16px;
  }

  .toast-show {
    animation-name: toast-show;
  }

  .toast-hide {
    animation-name: toast-hide;
  }
}
